/* Estilo para todo el body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Para evitar barras de desplazamiento durante la animación */
}

/* Contenedor del fondo */
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    /* background-image: url('../images/grupo_astronautas.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contenido de la página */
.content {
    position: relative;
    z-index: 1; /* Para que el contenido esté por encima del fondo */
    text-align: center;
    color: white;
    margin-top: 20%;
    font-family: Arial, sans-serif;
}

.banner-intro {
    border-radius: 10px 10px 10px 10px;
    border: 10 px;
}

.img-home {
    height: 80%;    
}

.logo-nasa {
    height: 190px;    
}

.img-seis {
    height: 200px;
    width: 300px;
    transform: rotate(-25deg); 
}

.img-enter {
    height: 94px;
    width: 300px;  
    transform: rotate(-5deg);   
}

.fade-image {    
    opacity: 0; /* Comienza transparente */
    transition: opacity 4s ease; /* Transición suave de opacidad */
}

/* antigravedad */
.antigravity {
    width: 200px; /* Ajusta el tamaño de la imagen */
    animation: swingRotate 8s ease-in-out infinite;
    transform-origin: center; /* El centro será el punto de referencia de rotación */
}

.lowgravity {   
    animation: float 5s ease-in-out infinite;
    transform-origin: center; /* El centro será el punto de referencia de rotación */
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Mueve la imagen hacia arriba */
    }
    100% {
        transform: translateY(0); /* Vuelve a la posición original */
    }
}

@keyframes swingRotate {
    0% {
        transform: rotate(0deg); /* Comienza en 0 grados */
    }
    25% {
        transform: rotate(60deg); /* Gira hasta 60 grados */
    }
    50% {
        transform: rotate(0deg); /* Vuelve a 0 grados */
    }
    75% {
        transform: rotate(-60deg); /* Gira hasta -60 grados */
    }
    100% {
        transform: rotate(0deg); /* Regresa a 0 grados */
    }
}

.gframe {
    display: flex;
    /* border: 1px solid ; */
    /* border-color: rgb(114, 114, 236); */
    -webkit-box-shadow: 0px 0px 28px -5px rgba(204,163,230,1);
    -moz-box-shadow: 0px 0px 28px -5px rgba(204,163,230,1);
    box-shadow: 0px 0px 28px -5px rgba(204,163,230,1);
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}